@page "/"
@inject GamePlayer game

@code {
  public string gameId { get; set; } = "";
  public string name { get; set; } = "Alex";
  public bool HasClickedRegister { get; set; } = false;
  public bool RegisterComplete { get; set; } = false;
  public async Task Register()
  {
    if (gameId == "")
      return;
    HasClickedRegister = true;
    await game.Register(gameId, name);
    RegisterComplete = true;
  }
}

<PageTitle>Index</PageTitle>
@if (!HasClickedRegister)
{
  <div class="container mx-auto">
  <div class="flex">
    <form @onsubmit:preventDefault="true" @onsubmit="Register">
      <div>
        <label>Game ID:</label>
        <input type="text" class="rounded bg-slate-600 p-1 m-1" @bind='gameId' />
      </div>
      <div>
        <label>Name:</label>
        <input type="text" class="rounded bg-slate-600 p-1 m-1" @bind='name' />
      </div>
      <div>
        <label>Register Count:</label>
        <input type="text" class="rounded bg-slate-600 p-1 m-1" @bind='game.CopterCount' />
      </div>

      <button class="@(Styles.Btn)">
        Register for Game
      </button>
    </form>
  </div>
</div>
}
@if (HasClickedRegister && !RegisterComplete)
{
  <div>Registering...</div>
  <div class="align-center">
    <Spinner />
  </div>
}

@if (game.Map != null)
{
  <div>
  Current Location: @game.Rover.CurrentLocation, Orientation: @game.Rover.Orientation, Target: @game.Rover.Target
</div>
  <ControlUI />
  <Map />
}