@page "/"
@inject GamePlayer game

@code {
  public string gameId { get; set; } = "";

}

<PageTitle>Index</PageTitle>
<div class="container mx-auto">

  <div>
    <label>Game ID:</label>
    <input type="text" class="rounded bg-slate-600 p-1 m-1" @bind='gameId' />
  </div>

  <button class="@(Styles.Btn)" @onclick="@(() => game.Register(gameId))">
    Register for Game
  </button>
</div>

@if (game.Map != null)
{
  <div>
  Current Location: @game.CurrentLocation, Target: @game.Target
</div>
  <div class="flex">
    <PathFinderUI />
    <Map />
  </div>
}