@inherits LayoutComponentBase

<PageTitle>web</PageTitle>

<div class="page  ">
    <main class="bg-gray-800 text-white p-5 h-screen">
        <article class="">
            @Body
        </article>
    </main>
</div>
