@inherits LayoutComponentBase

<PageTitle>web</PageTitle>

<div class="page">
    <main class="bg-gray-800 text-white h-screen p-5">
        <article class="">
            @Body
        </article>
    </main>
</div>
